
body {
    font-family: sans-serif;
    font-size: 15px;
    width: 800px;
    margin: 0px auto;
    background-image: url("../Aufgabe_3/L03/task_material/images/bg.png");
    background-repeat: repeat;
    overflow-y: scroll;
}

/*Halbkreis*/
#box{
    background-color: #B63514;
    width: 600px;
    height: 600px;
    top: 600px;
    left: 600px;
    border: 1px #B63514;
    text-align: center;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -15px;
    border-radius: 1000px;
    margin: -520px 0px 80px;
    margin-left: auto;
    margin-right: auto;
}

#box p {
  margin-top: 300px;
}

/*Facebook*/
#facebook {
  width: auto;
  opacity: 90%;
  margin-left: 80%;

}

/*Lorem Text*/
#lorem{
    text-align: center;
    margin-top: -250px;
}

/*Listen Text*/
ul {
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-decoration: none;
    padding: 8px;
    background-color: #000000;
    color: white;
  }