body {
    background: rgb(71, 67, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

main {
    color: #fff;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 50px;

}

h2 {
  position: relative;
  text-align: center;
}

#yourtask {
    position: relative;
    text-align: center;
    top: 50px;
    left: 600px;
    font-size: 20px;
    height: 30px;
    width: 300px;
}

#addbutton {
    position: relative;
    text-align: center;
    height: 45px;
    width: 45px;
    top: 10px;
    left: 920px;
    background: rgb(28, 89, 219);
    border-radius: 5px;
}

.maindiv {
  position: relative;
  text-align: center;
  padding: 10px;
}

input.checkerbox {
  position: relative;
  top: 35px;
  left: -150px;
}

b.fas.fa-trash {
  position: relative;
  top: -35px;
  left: 150px;
}

.mockup {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.mockup span{
  position: relative;
  z-index: 2;
}

.mockup:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0084ff;
  transition: all .35s;
  opacity: 30%;
}

.mockup:hover{
  color: #fff;
}

.mockup:hover:after{
  width: 100%;
}

.flowchart {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.flowchart span{
  position: relative;
  z-index: 2;
}

.flowchart:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0084ff;
  transition: all .35s;
  opacity: 30%;
}

.flowchart:hover{
  color: #fff;
}

.flowchart:hover:after{
  width: 100%;
}

footer {
    position: relative;
    text-align: center;
    top: 500px;
    left: -650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}