body {
    background-image: url(../Aufgabe_4/task_material_winter/Station_3_Hover/images/bg.png);
/*Hide and disable scrollbar*/
    overflow: hidden;
}

/*Navigation*/
.Nav {
    position: fixed;
    top: 0px;
    right: 20px;
    background: orange;
    padding: 2px;
}

a {
    text-decoration: none;
}

/*Karten Inhalt*/
.Karte {
    position: absolute;
    text-align: center;
    top: 160px;
    left: 450px;
}

.Text {
    position: relative;
    top: 230px;
    left: 500px;
    color: white;
}

/*Sterne*/
.Stern1 {
    display: inline;
    position: relative;
    top: 240px;
    left: 490px;
}

.Stern2 {
    display: inline;
    position: relative;
    top: 215px;
    left: 550px;
}


.Stern3 {
    display: inline;
    position: relative;
    top: 290px;
    left: 590px;
}

.Stern4 {
    display: inline;
    position: relative;
    top: 220px;
    left: 680px;
}

.Stern1:hover {
    display: inline-flex;
    background: url(../Aufgabe_4/task_material_winter/Station_3_Hover/images/stern_hover.png);
}

.Stern2:hover {
    display: inline-flex;
    background: url(../Aufgabe_4/task_material_winter/Station_3_Hover/images/stern_hover.png);
}

.Stern3:hover {
    display: inline-flex;
    background: url(../Aufgabe_4/task_material_winter/Station_3_Hover/images/stern_hover.png);
}

.Stern4:hover {
    display: inline-flex;
    background: url(../Aufgabe_4/task_material_winter/Station_3_Hover/images/stern_hover.png);
}