body {
    background-image: url(../Aufgabe_4/task_material_winter/Station_8_Youtube/images/bg.png);
}

/*Navigation*/
.Nav {
    position: fixed;
    top: 0px;
    right: 20px;
}

a {
    text-decoration: none;
}

.Karte {
    position: absolute;
    top: 200px;
    left: 450px;
    display: block;
}  

.Video {
    position: relative;
    top: -360px;
    left: 50px;
}
.Banderole {
    position: absolute;
    top: 265px;
    left: 360px;
}